body, html{
  text-align: center;
}

body{
  background-color: #ffffff;
}

div{
  box-sizing: border-box;
}

#clockWrap{
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  border: 1px solid #931616;
  position: relative;
}

#clock, #hover{
  background: #931616;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  padding: 30px;
}

#hover{
  display: none;
}

#clockWrap:hover #clock { display:none;}
#clockWrap:hover #hover { display:block;}

#timer{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  background: #000;
  transition: width 0.5s linear;
}
